* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212121;
}

.container {
    display: flex;
    gap: 20px;
}

.box {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.red {
    background-color: #FF0000;
}

.green {
    background-color: #00FF00;
}

.blue {
    background-color: #0000FF;
}

.yellow {
    background-color: #FFFF00;
}
