<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Change Boxes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="box red" data-color="#FF0000"></div>
        <div class="box green" data-color="#00FF00"></div>
        <div class="box blue" data-color="#0000FF"></div>
        <div class="box yellow" data-color="#FFFF00"></div>
    </div>

    <!-- Linking JavaScript file -->
    <script src="script.js"></script>
</body>
</html>
