<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOM || Document Object Model</title>
</head>
<body style="background-color: #212121;color:#fff;">
    <ul class="languagee">
        <li>Javascript</li>
    </ul>
</body>
<script>
    function addLanguage(langName)
    {
        const li = document.createElement('li');
        li.innerHTML = `${langName}`;
        document.querySelector('.languagee').appendChild(li);  // Comment hata diya
    }

    addLanguage("Python");
    addLanguage("Ruby");
    addLanguage("C++");

    function addOptionLanguage(langName){
        const li = document.createElement('li');
        li.appendChild(document.createTextNode(langName));
        document.querySelector('.languagee').appendChild(li);
    }

    addOptionLanguage('Golang');

    //Edit
    const secondLang = document.querySelector("li:nth-child(2)")
    //secondLang.innerHTML = "Mojo"
    const newli = document.createElement('li');
    newli.textContent = "Mojo";
    secondLang.replaceWith(newli)

    //remove
    const lastLang = document.querySelector("li:last-child")
    lastLang.remove()
</script>
</html>
